body{
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	position: fixed;
}


.bypass{
	pointer-events: none;
}
.block{
	pointer-events: auto;
}


img{
	width: 100%;
	display: block;
}

svg{
    overflow: inherit;
}

svg *{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;  
    -khtml-user-select: none;   
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none; 
}
svg text{
    pointer-events: none;
}


.layer{
	overflow: hidden;
    position: absolute;
    height: 100%;
    transform: translate3d(0,0,0);
    will-change: transform;

    top:0;
    left:0;
}


.layer svg{
	height:100%;
}

[unsel]{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;  
    -khtml-user-select: none;   
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none; 
}

